#form-container {
    min-height: 200px;
    height: 500px;
    text-align: center;
}

#form {
    margin-top: 200px;
    text-align: center;
}

#login-button {
    padding: 10px;
    width: 203px;
    border-radius: 3px;
    border: 1px solid grey;
}

#login-button:hover {
    border: 1px solid black;
}

#login-button:hover {
    cursor: pointer;
}

#error-message {
    color: red;
}

.login-input {
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
}

.login-input:focus {
    border: 1px solid black;
}