.menuItemContainer {
    position: absolute;
    left: 1000px;
    top: 30px;
    float: right;
}

.menuItemContainerScroll {
    display: flex;
    margin-left: 50%;
    padding: 10px;
}

.menuBarContainer {  
    align-content: center;
    max-width: 100%;
    height: 85px;
    position: absolute;
    z-index: 1;
    padding: 10px 10px 10px 10px;
    transition: 0.7s;
}

.menuBarContainerScroll {
    background-color: white;
    padding: 10px 10px 10px 10px;
    align-content: center;
    width: 100%;
    height: 95px;
    position: fixed;
    box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.30);
    z-index: 1;
    transition: 0.7s;
}

.menuBarItem {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 5px;
    opacity: .8;
    transition: 0.2s;
    text-decoration: none;
}

.menuBarItem:hover {
    color: black;
    opacity: 1;
    text-decoration: none;
}

.logoScroll {
    position: absolute;
    left: 10px;
    top: 5px;
    height: 100px; 
    width: 100px;
    transition: 0.8s;
}

.logoScroll:hover {
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 50px;
    top: 50px;
    height: 370px; 
    width: 370px;
    transition: 0.8s;
}

.menuBarContainer .menuBarItem:hover {
    opacity: 1;
}

.menuBarContainerScroll .menuBarItem:hover {
    opacity: 1;
}

.menuBarLogo {
    position: fixed;
    top: 12px;
    left: 10px;
    opacity: .6;
}

.logoImage {
    height: 500px;
}

.hamburgerMenu {
    display: none;
    padding: 5px;
    margin: 15px;
    width: 100%;
    text-align: right;
}

.menuBarContainer .menuItemContainer {
    padding: 5px;
    display: flex;
}

.menuBarContainerScroll .menuItemContainer {
    padding: 5px;
    display: flex;
    margin-left: 580px;
}

.btn:hover {
    cursor: pointer;
}

.dropdown-menu {
    top: 70px;
    float: none;
    max-width: none;
    z-index: 1;
    position: relative;
    float: right;
}

.menu-container {
    display: inline-block;
    cursor: pointer;
    float: right;
  }
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

#navbar {
    height: 100px;
    background-color: white;
    box-shadow: 0px 5px 10px -4px rgba(0,0,0,0.30);
    transition: 0.5s;
}

#navbar-fixed {
    height: 0px;
    background-color: transparent;
}

@media only screen and (max-width: 1610px) {
    .menuItemContainerScroll {
        margin-left: 45%;
    }
}

@media only screen and (max-width: 1500px) {
    .menuItemContainerScroll {
        margin-left: 40%;
    }
}

@media only screen and (max-width: 1360px) {
    .menuItemContainerScroll {
        margin-left: 35%;
    }
}

@media only screen and (max-width: 1260px) {
    .menuItemContainerScroll {
        margin-left: 30%;
        padding: 4px;
    }
}

@media only screen and (max-width: 1170px) {
    .menuItemContainerScroll {
        margin-left: 25%;
    }
}

@media only screen and (max-width: 1080px) {
    .menuItemContainerScroll {
        display: none;
    }

    .hamburgerMenu {
        display: block;
    }
}

@media only screen and (max-width: 425px) {
    #navbar {
        padding: 30px;
    }
}

@media only screen and (max-width: 1300px) {
    .menuBarContainer, .menuBarContainerScroll {
        margin: 10px 10px 10px 450px;
    }
}

@media only screen and (max-width: 1140px) {
    .menuBarContainer, .menuBarContainerScroll {
        margin: 10px 10px 10px 350px;
    }
}

@media only screen and (max-width: 1040px) {
    .menuBarContainer, .menuBarContainerScroll {
        margin: 10px 10px 10px 250px;
    }
}

@media only screen and (max-width: 960px) {
    .menuBarContainer {
        visibility: hidden;
    }

    .menuBarItem {
        opacity: 0;
    }

    .hamburgerMenu {
        visibility: visible;
    }
}

@media screen and (max-width: 1720px) {
    .logo {
        position: absolute;
        left: 30px;
        top: 30px;
        height: 270px; 
        width: 270px;
        transition: 0.8s;
    }
}

@media screen and (max-width: 1490px) {
    .logo {
        position: absolute;
        left: 20px;
        top: 20px;
        height: 200px; 
        width: 200px;
        transition: 0.8s;
    }
}